<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset password - CV Builder</title>
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/password.css' />
  </head>
  <body>
    <div class='overlay'>
      <div class='spinner'></div>
    </div>
    <div class='wrapper'>
      <div class='title'>
        <h1>Forgot your password?</h1>
      </div>
      <div class='sub-title'>
        Enter your email address and we will send you an email to reset your
        <br />
        password. If you do not receive an email from us within a few
        <br />
        moments, please check your SPAM folder.
      </div>
      <div class='form-reset-password'>
        <div class='form__label'>Forgot your password?</div>
        <div class='form__input'>
          <input
            type='password'
            name='newPassword'
            placeholder='New password'
            autocomplete='false'
          />
        </div>
        <div class='form__submit'>
          <button id='change-password'>Submit</button>
        </div>
      </div>
    </div>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js'
      integrity='sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script src='/js/password.js'></script>
  </body>
</html>