$main-bg: #ffffff;
$hover-bg: #f2f7fc;
$txt-main-color: #000;
$txt-second-color: rgba(0, 0, 0, 0.5);
$txt-third-color: rgba(0, 0, 0, 0.8);
$txt-more-color: #2a3ffb;
$txt-white: #fff;

$btn-main-bg: #2a3ffb;
$btn-main-color: #fff;

$box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

$mobile-width: 599px;
$tablet-width: 1023px;