* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  height: 100vh;
  background: #f2f7fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem 50px;
  width: clamp(400px, 40%, 1000px);
  border-radius: 8px;
  background: #fff;
  text-align: center;
}

.image {
  width: 300px;
  filter: hue-rotate(315deg);
}

.title {
  font-size: 24px;
  color: #424242;
  font-family: 'Fira Code', sans-serif;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5019607843);
}

.button {
  display: inline-block;
  background: #2a3ffb;
  color: #fff;
  text-decoration: none;
  padding: 12px 35px;
  border-radius: 8px;
  font-weight: 400;
  font-family: 'Fira Code', sans-serif;
}
.button:hover {
  box-shadow: 0px 0px 2px #757474;
}
