* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  background: #f2f7fc;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 166px;
}
.wrapper .title {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  font-family: 'Fira Code', sans-serif;
}

.wrapper .title h1 {
  font-size: 18px;
}

.wrapper .sub-title {
  margin-top: 15px;
  padding: 0 332px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.wrapper .form-reset-password {
  margin-top: 48px;
  font-family: 'Inter', sans-serif;
}
.wrapper .form-reset-password .form__label {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.wrapper .form-reset-password .form__input {
  margin-top: 9px;
  width: 400px;
}
.wrapper .form-reset-password .form__input input {
  height: 48px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  border-radius: 4px;
}
.wrapper .form-reset-password .form__input input::placeholder {
  color: #ccc;
}

.wrapper .form-reset-password .form__input input.invalid {
  border: 1px solid red;
}

.wrapper .form-reset-password .form__submit {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.wrapper .form-reset-password .form__submit button {
  padding: 12px 108px;
  background: #2a3ffb;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.overlay.hide {
  display: none;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #474bff);
  -webkit-mask: radial-gradient(
    farthest-side,
    rgba(0, 0, 0, 0) calc(100% - 9px),
    #000 0
  );
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
.cl-red {
  color: #fb4458;
}
