.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 115px 0 180px 0;
    &__heading {
        color: #000;
        font-size: 48px;
        font-weight: 700;
        line-height: 54px;
        font-family: 'Fira Code', monospace;
        text-align: left;
        width: 584px;
        & p {
            overflow: hidden;
            white-space: nowrap;
            border-right: 3px solid;
        }
        & p:nth-child(1) {
            -webkit-animation: typing 3s steps(40, end);
            animation: typing 3s steps(40, end), forwards;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        & p:nth-child(2) {
            opacity: 0;
            margin-left: 130px;
            -webkit-animation: typing2 2s steps(40, end);
            animation: typing2 3s steps(40, end) forwards;
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
    }
    &__banner {
        object-fit: cover;
        width: 694px;
        height: 669px;
        margin: -6px auto 0 auto;
        background-image: url(../../../assets/img/banner.png);
        background-size: cover;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 3px solid;
    }
    100% {
        width: 100%;
        border: none;
    }
}
@-webkit-keyframes typing {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 3px solid;
    }
    100% {
        width: 100%;
        border: none;
    }
}
@keyframes typing2 {
    0% {
        width: 0;
        opacity: 1;
    }
    99.9% {
        border-right: 3px solid;
    }
    100% {
        width: 55%;
        opacity: 1;
        border: none;
    }
}
@-webkit-keyframes typing2 {
    0% {
        width: 0;
        opacity: 1;
    }
    99.9% {
        border-right: 3px solid;
    }
    100% {
        width: 55%;
        opacity: 1;
        border: none;
    }
}
@media (max-width: 768px) and (min-width: 320px) {
    .hero {
        padding: 115px 0 53px 0;
        &__heading {
            width: 286px;
            font-size: 24px;
            line-height: 24px;
            text-align: left;
            & p:nth-child(2) {
                margin-left: 65px;
            }
        }
        &__banner {
            width: 368px;
            height: 246px;
            background-image: url(../../../assets/img/banner_mobile.png);
            margin: 26px auto 0 auto;
        }
    }
}
