@use '@/assets/styles/scss/global/global.scss' as *;
.add-edu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 179px 275px 0;
    overflow: hidden;
    &__head {
        text-align: center;
        margin-bottom: 48px;
        &--img {
            margin-bottom: 11px;
        }
        &--title {
            @include main-title;
            max-width: 350px;
            margin-bottom: 8px;
        }
        &--content {
            color: $txt-third-color;
            line-height: 21px;
        }
    }
    &__main {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        &--left {
            margin-right: 24px;
        }
        &--left,
        &--right {
            display: flex;
            flex-direction: column;
            input {
                @include txt-type-field;
                @include padding-job-edu;
                margin-right: 0 !important;
                margin-bottom: 24px;
            }
        }
        .main-left__label,
        .main-right__label {
            @include title-field;
        }
    }
    &__btn-submit {
        @include padding-btn-add;
        border: 1px solid $txt-more-color !important;
        margin-bottom: 48px;
        padding: 14px 0;
        width: 100%;
    }
}
@media (max-width: 654px) and (min-width: 320px) {
    .add-edu {
        display: block;
        width: 100%;
        padding: 0 24px;
        margin: 152px 0 0;
        &__main {
            display: block;
            .add-edu__main--left {
                margin: 0;
            }
            &--left,
            &--right {
                input {
                    margin-bottom: 20px;
                }
            }
        }
        .add-edu__head {
            width: 100%;
            &--title {
                max-width: 100%;
                margin: 0 auto;
            }
            &--content {
                color: $txt-third-color;
                line-height: 21px;
            }
        }
        .add-edu__btn-next {
            @include flex(center, center);
        }
        .add-edu__btn-submit {
            padding: 17px 0;
            width: 100%;
        }
    }
}
